*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body{
background-color: rgb(242, 198, 255);
}


h1{
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 65px;
    margin-top: 45px;
    color: white;
    -webkit-text-stroke: 1px rgb(154, 8, 198);
}
 .data-dia{
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:rgb(154, 8, 198) ;
    margin-top: 35px;
}


.tabela-tarefas{
    margin-top: 90px;
    font-size: 40px;
    font-family: sans-serif;
    align-items: center;
    text-align: center;

}


table{
    width: 90%;
    margin: auto 0;
    align-items: center;
    text-align: center;
    margin-left: 80px;
}


.tabela-tarefas th{
    padding: 11px 0 11px;
    background-color: rgb(154, 8, 198);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding: 8px;
}

table tr{
    border: 1px solid #ddd;
}

table td{
    color: #FFF;
    font-size: 18px;
    padding: 8px;
}

tbody{
    background-color: rgb(205, 150, 221);
}

form{
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:  rgb(205, 150, 221);
} 

button{
    margin-top: 30px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color:  rgb(122, 23, 151);
    color: #FFF;
    font-size: 20px;
}

.check{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 60px;
}

